/* Header.css */
/* Add this to Container.css */
.first {
    background: linear-gradient(135deg, #3498db, #1abc9c);
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background 0.5s, transform 0.5s;
  }
  
  .first:hover {
    background: linear-gradient(135deg, #1abc9c, #3498db);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  

.main-title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  animation: fadeIn 2s ease 1s forwards;
}

.sub-title {
  font-size: 2rem;
  font-style: italic;
  margin-top: 20px;
  opacity: 0;
  animation: slideUp 2s ease 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 40px;
  }

  .main-title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }
}
